/*!
 *  MsgPop 1.0 by Anthony J. Laurene - 10/1/2014
 *  License - (JS: MIT License, CSS: MIT License)
 */
 
#msgPopContainer {
	position:fixed;
	z-index:9999;
	width:100%;
  -webkit-transition:all .3s ease-in-out;
  -moz-transition:all .3s ease-in-out;
  -o-transition:all .3s ease-in-out;
  transition:all .3s ease-in-out;
  box-sizing:initial !important;
}
#msgPopContainer .fa{font-size:1.5em !important;}
#msgPopSmallAttached{
	position:absolute;
}
.msgPopTriangle-Up {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	position:absolute;
	top:-16px;
	margin-left:16px;
}
.msgPopSuccess .msgPopTriangle-Up {
	border-bottom: 16px solid rgba(0,142,0,.95);
	border-bottom: 16px solid #008E00;  /*IE8 support*/
}
.msgPopError .msgPopTriangle-Up {
	border-bottom: 16px solid  rgba(186,0,0,.95);
	border-bottom: 16px solid #BA0000; /*IE8 support*/
}
.msgPopMessage .msgPopTriangle-Up {
	border-bottom: 16px solid rgb(23, 102, 181);
	border-bottom: 16px solid #1766B5; /*IE8 support*/
}
.msgPopWarning .msgPopTriangle-Up {
	border-bottom: 16px solid rgba(255,202,43,.95);
	border-bottom: 16px solid #FFCA2B; /*IE8 support*/
}
.msgPopAnchored{
	position:absolute !important;
	min-width:280px;
	max-width:300px;
	border-radius:4px;
	z-index:999;
}
.msgPopAnchored .msgPopSpacer{
	width:1px;
	padding:0;
	margin:0;
}
.msgPopContainerOverflow
{
	overflow:auto;
	overflow-x:hidden;
	max-height:100%;
}

#msgPopCloseAllBtn{
	background-color:#000;
	color:#fff;
	border:1px solid #000;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
	padding:6px;
	position:relative;
	float:right;
	cursor:pointer;	
	display:none;
	box-shadow:0 0 5px rgba(0,0,0,.5);
}

#msgPopCloseAllBtn:active{
    color:#000;
    background:#fff;
}

.msgPopLoadMore{
	background-color: rgba(2,2,2,.9) !important;
	background:#222; /*IE8 support*/
    color: #fff;
    cursor: pointer;
    text-align: center;
}

.msgPopLoadMore:active{
    background-color:#000;
}

.msgPopLoadMore span{
	display:block;
	width:100%;
	padding:10px;
}

.msgPopSuccess, .msgPopWarning, .msgPopError, .msgPopMessage, .msgPopLoadMore{
	display:none;
	cursor: default;
	box-shadow:0 0 5px rgba(0,0,0,.5);
	font-family: "open sans",sans-serif;
}

.msgPopSuccess:active{
	background: rgba(0,122,0,.95) !important;
	background: #007A00; /*IE8 support*/
	color:#eee;
}

.msgPopSuccess{
	background: rgba(0,142,0,.95) !important;
	background: #008E00; /*IE8 support*/
    color:#fff;
	border-color:#004C00;
}

.msgPopWarning:active{
	background: rgba(255,218,96,.95) !important;
	background: #FFDA60; /*IE8 support*/
	color:#111;
}

.msgPopWarning{
	background: rgba(255,202,43,.95) !important; 
	background: #FFCA2B; /*IE8 support*/
	color:#111;
	border-color:#916D00;
}

.msgPopError:active{
	background: rgba(158,0,0,.95) !important;
	background: #9E0000; /*IE8 support*/
	color:#eee;
	border-color:#7F0000;
}

.msgPopError{
    background: rgba(186,0,0,.95) !important; 
	background: #BA0000; /*IE8 support*/
	color:#fff;
	border-color:#7F0000;
}

.msgPopMessage:active{
	background: rgba(10,80,150,.95) !important;
	background: #0A5096; /*IE8 support*/
	color:#eee;
	border-color:#05284C;
}

.msgPopMessage{
	background:rgba(12,95,178,.95) !important;
	 background: #0C5FB2; /*IE8 support*/
	color:#fff;
	border-color:#05284C;
}

#msgPopIconCell{width:1%;}

.msgPopCloseCell{
	text-align:right;
	font-size:.8em;
}

.msgPopCloseCell a{
	position:relative;
	color:inherit;
	top:-6px;
	right:-6px;
	cursor:pointer;
	font-size:10px !important;
}


.msgPopContainerSmall .outerMsgPopTbl{
	border:1px solid rgba(255,255,255,.2) !important;
	border-top:1px solid rgba(255,255,255,.5) !important;
}

.outerMsgPopTbl{
	border:0;
	border-radius:4px;
}

.innerMsgPopTbl{
	border-radius:4px;
	padding:10px;
}

.msgPopTable{
	display:table;
	width:100%;
}

.msgPopTable-cell{
	display:table-cell;
	vertical-align:middle;
	padding-right:8px;
}

.msgPop-align-right{text-align:right;}

.msgPopContainerSmall{right:10px !important;}

.msgPopContainerSmall .msgPopSuccess, 
.msgPopContainerSmall .msgPopWarning, 
.msgPopContainerSmall .msgPopError, 
.msgPopContainerSmall .msgPopMessage,
.msgPopContainerSmall .msgPopLoadMore{
    box-shadow: 3px 3px 5px rgba(0,0,0,.3) !important;
	margin:5px !important;
	border-radius:5px !important;
}

.msgPopContainerSmall .msgPopLoadMore{
	margin:0 5px;
	border-radius:4px;
}

.msgPopContainerSmall #msgPopCloseAllBtn{
	border-radius:3px !important;
	margin:5px 6px;
}

.msgPop-top-right, .msgPop-top-left{top:0;}
.msgPop-top-right{right:0;}
.msgPop-top-left{left:0;}
.msgPop-bottom-right, .msgPop-bottom-left{bottom:0;}
.msgPop-bottom-right{right:0;}
.msgPop-bottom-left{left:0;}

.selPopAnimate{
	-webkit-transition: height 250ms ease-in-out;
	transition: height 250ms ease-in-out;
}

.msgPopShake {
	position:relative;
     -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 200ms; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: 10; /* Safari 4.0 - 8.0 */

    animation-name: msgPopAnimateShake;
    animation-duration:200ms;
    animation-iteration-count: 3;   
	    -webkit-animation-timing-function: ease-in-out; /* Safari 4.0 - 8.0 */
    animation-timing-function: ease-in-out;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes msgPopAnimateShake {
    0%   { left:0px; top:0px;}
    25%  { left:5px; top:5px;}
    50%  { left:10px; top:0px;}
    75%  { left:5px; top:5px;}
    100%  { left:0px; top:0px;}
}

/* Standard syntax */
@keyframes msgPopAnimateShake {
    0%   { left:0px; top:0px;}
    25%  { left:5px; top:5px;}
    50%  { left:10px; top:0px;}
    75%  { left:5px; top:5px;}
    100%  { left:0px; top:0px;}
}
 

@media all and (min-width: 0px) and (max-width: 640px) {
	.msgPopContainerSmall{
		width:100% !important;
		right:0 !important;
	}
	
	.innerMsgPopTbl{padding:12px;}
	.msgPopTable-cell{padding-right:12px;}

	.msgPopContainerSmall .msgPopLoadMore{
		margin:0 !important;
		border-radius:0 !important;
	}

	.msgPopContainerSmall .msgPopSuccess, 
	.msgPopContainerSmall .msgPopWarning, 
	.msgPopContainerSmall .msgPopError, 
	.msgPopContainerSmall .msgPopMessage{
		box-shadow:0 0 3px rgba(0,0,0,.3) !important;
		margin:0 !important;
		border-radius:initial !important;
	}

	.msgPopContainerSmall #msgPopCloseAllBtn	{
		border-radius:0 !important;
		border-bottom-left-radius:3px !important;
		border-bottom-right-radius:3px !important;
		margin:0;
	}

	.msgPopCloseCell a{font-size:16px;}

	#msgPopContainer, #msgPopCloseAllBtn{font-size:15px;}

	.msgPopSpacer{width:0;}
}

@media all and (min-width: 641px) and (max-width: 1024px) {
	#msgPopContainer, #msgPopCloseAllBtn{font-size:16px;}
	.innerMsgPopTbl{padding:12px;}
	.msgPopTable-cell{padding-right:12px;}
	.msgPopSpacer{width:5%;}
	.msgPopAnchored{font-size:16px;}
	.msgPopContainerSmall{width:380px !important;}
}

@media all and (min-width: 1025px) and (max-width: 1280px) {

	.msgPopContainerSmall{width:450px !important;}
	#msgPopContainer, #msgPopCloseAllBtn{font-size:14px;}
	.msgPopSpacer{width:10%;}
	.msgPopAnchored{font-size:16px;}
	.msgPopContainerSmall .msgPopSpacer{	width:5% !important;}
}

@media all and (min-width: 1281px) and (max-width: 4000px) {

	.msgPopContainerSmall{width:580px !important;}
	#msgPopContainer, #msgPopCloseAllBtn{font-size:16px;}
	.msgPopSpacer{width:15%;}
	.msgPopAnchored{font-size:16px;}
	.msgPopContainerSmall .msgPopSpacer{	width:5% !important;}
}
